@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    font-family:'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    font-weight: 700;
}

.personal__logo {
    font-size: 24px;
    color: #3032b1;
    margin: 0 12px;
    font-weight: bold;
}

#contact-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* delete later */

.container {
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    padding: 24px 12px;
    border: 2px solid #242424;
    display: flex;
    justify-content: space-between;
}

.box {
    border: 2px solid #242424;
    width: 200px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    padding: 36px;
    color: #3032b1;
}

.box:hover {
    background-color: #5c87af;
    
}